#floatDiv{
   position: absolute;
   width: auto;
   max-width:250px;
   white-space:nowrap;
   color: red;
   height: 20px;
   left:0;
   top: 0;
   cursor: pointer;
   font-weight: 600;
   z-index:300000;
   white-space:nowrap;
}